<p>First name: <%=@student_obj.firstname %></p>
<p>Last name: <%=@student_obj.lastname %></p>
<p>Birthday: <%=@student_obj.birthday %></p>
<p>Address: <%=@student_obj.address %></p>
<p>Student id: <%=@student_obj.student_id %></p>


<a href="/students/<%=@student_obj.id %>/edit">edit</a>
<a href="/students/<%=@student_obj.id %>/delete">delete</a>
<a href="/students">back to students page</a>



